.video-bar {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  
  bottom: 0px;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  padding: 10px 0px;
  visibility: visible;
}
.video-bar:hover {
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  bottom: 0px;
  width: 100%;
  border-radius: 16px 16px 0px 0px;
  padding: 10px 0px;
  visibility: visible;
}



.video-bar-item {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: larger;
    border: none;
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    margin: 3px 50px;
}
